.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.aboutMe {
  grid-column: 2 / 8;

  background-color: var(--color-1);
}

.languages {
  grid-column: -8 / span 6;

  background-color: var(--color-1);
}

spacer {
  grid-column: 1 / -1;
}

.spacer1 {
  min-height: 100px;
  aspect-ratio: 2;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/layered-steps-haikei.svg");
}